@model Lustrious.Models.Endereco
@{
 ViewData["Title"] = "Editar Endereço";
}
<h2>Editar Endereço</h2>
<form method="post" asp-action="Editar">
 @Html.AntiForgeryToken()
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 <div>
 <label>Cep</label>
 <input id="cep" asp-for="Cep" maxlength="9" onblur="verificaCEP()" />
 <span asp-validation-for="Cep" class="text-danger"></span>
 </div>
 <div>
 <label>Logradouro</label>
 <input id="logradouro" asp-for="logradouro" />
 <span asp-validation-for="logradouro" class="text-danger"></span>
 </div>
 <div>
 <label>Bairro</label>
 <input id="bairro" name="bairro" />
 </div>
 <div>
 <label>Cidade</label>
 <input id="cidade" name="cidade" />
 </div>
 <div>
 <label>Estado</label>
 <input id="estado" name="estado" />
 </div>
 <div>
 <label>Numero</label>
 <input asp-for="numero" />
 <span asp-validation-for="numero" class="text-danger"></span>
 </div>
 <div>
 <label>Complemento</label>
 <input asp-for="complemento" />
 <span asp-validation-for="complemento" class="text-danger"></span>
 </div>
 <input type="hidden" asp-for="IdEndereco" />
 <div>
 <button type="submit">Salvar</button>
 </div>
</form>

@section Scripts {
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
 <script>
 function limparCampos() {
 $("#logradouro").val('');
 $("#bairro").val('');
 $("#cidade").val('');
 $("#estado").val('');
 }

 async function verificaCEP() {
 let cep = $("#cep").val().toString().replace(/\D/g, '');

 if (cep.length ==8) {
 try {
 const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
 const data = await response.json();

 if (data.erro) {
 alert("CEP não encontrado.");
 limparCampos();
 } else {
 $("#logradouro").val(data.logradouro || '');
 $("#bairro").val(data.bairro || '');
 $("#cidade").val(data.localidade || '');
 $("#estado").val(data.uf || '');
 }
 } catch (e) {
 console.log("Erro ao consultar ViaCEP", e);
 }
 }
 }
 </script>
}
