@model Lustrious.Models.Cliente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastra Cliente";
}

<div class="card">
    <h2>Cadastrar Cliente</h2>

    <form asp-action="CriarCliente" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Nome</label>
            <input asp-for="Nome" required />
        </div>
        <div class="form-group">
            <label>CPF</label>
            <input asp-for="CPF" required />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" required />
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input asp-for="Senha" type="password" required />
        </div>

        <div class="actions">
            <button type="submit" class="btn-submit">Salvar</button>
        </div>
    </form>
</div>

<style>
    body {
        background-color: #363636;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }

    .card {
        background-color: #212121;
        padding: 25px;
        margin: 50px auto;
        border-radius: 12px;
        max-width: 500px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        color: white;
    }

    h2 {
        margin-bottom: 20px;
        font-weight: 600;
        color: white;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

        .form-group label {
            margin-bottom: 6px;
            font-weight: 500;
        }

        .form-group input {
            padding: 10px;
            border-radius: 8px;
            border: none;
            outline: none;
        }

    .actions {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .btn-submit {
        background-color: #99694E;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #fff;
    }

        .btn-submit:hover {
            background-color: #8a5946;
        }
</style>
