@{
    ViewData["Title"] = "Home Page";
}
<body>
    <container>
        <div class="fullscreen">
            <img src="~/imagens/lustrious2.png" alt="Lustrious" />
        </div>
    </container>
</body>
<style>

    body{
        background-color: #363636;
    }

    .fullscreen {
        height: 45%; 
        width: 100%; 
        overflow: hidden;
        
        
    }

        .fullscreen img {
            border-radius:30px;
            width: 100%;
            height:100%;
            object-fit: cover; 
        }

</style>
